.wrap {
    margin: 20px auto;
    width: 800px;
    min-height: 600px;
    background-color: antiquewhite;
    padding: 20px;
}

.personArea2 {
    display: flex;
    gap:10px;
}

.personlist, .personlist2 { 
    margin: 20px 0;
    font-style: italic;
}